<launch>
  <arg name="robot_id"  default="$(optenv ID 1)"      doc="Unique identifier of the robot [1-Inf.)"/>
  <arg name="ns"        value="create$(arg robot_id)" doc="Namespace of the robot. By default: create1"/>
  <arg name="tf_prefix" value="$(arg ns)_tf"          doc="Tf prefix"/>

  <arg name="use_nodelets"    default="false" />
  <arg name="nodelet_manager" default="$optenv robot_localization_NODELET_MANAGER robot_localization_nodelet_manager)" />

   <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  <node unless="$(arg use_nodelets)"
        pkg="robot_localization" type="ekf_localization_node"
        name="ekf_se" clear_params="true" output="screen">
    <rosparam command="load" file="$(find ca_localization)/config/ekf_localization.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_odom.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_angle.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_imu.yaml"/>
  </node>

  <node if="$(arg use_nodelets)"
        pkg="nodelet" type="nodelet" name="ekf_se" output="screen"
        args="load RobotLocalization/EkfNodelet $(arg nodelet_manager)">
    <rosparam command="load" file="$(find ca_localization)/config/ekf_localization.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_odom.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_angle.yaml"/>
    <rosparam command="load" file="$(find ca_localization)/config/ekf_imu.yaml"/>
  </node>

  <!-- Static transform for the phone -->
  <node pkg="tf" type="static_transform_publisher" name="imu_static_tf"
        args="0 0 0 0 0 0 $(arg tf_prefix)/nvidia_jetson_nano_link /imu 20"/>
</launch>
